<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ansistrano: Just deploy it!</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/components/flat-ui/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/components/flat-ui/css/flat-ui.css">
    <link rel="stylesheet" href="/components/chartist/dist/chartist.min.css">
    <link rel="stylesheet" href="/components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/app.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    {% block content %}
        <!--
        <img src="/img/logo.png" style="width: 100px; height: 100px;" alt="Ansistrano" class="brand-logo" />
        -->
        <!-- Social icons -->
        <div class="social-icons">
            <a href="https://github.com/ansistrano" target="_blank"><i class="fa fa-github"></i></a>
            <a href="https://twitter.com/ansistrano" target="_blank"><i class="fa fa-twitter"></i></a>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>Ansistrano</h1>
                <p class="lead">
                    <a href="https://github.com/ansistrano/deploy" target="_blank"><strong>ansistrano.deploy</strong></a> and
                    <a href="https://github.com/ansistrano/rollback" target="_blank"><strong>ansistrano.rollback</strong></a> are Ansible Galaxy
                    roles to easily manage the deployment process for scripting applications such as PHP, Python and Ruby.
                    It's an Ansible port for Capistrano.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h4>Stats</h4>
                <p>
                    A total of <strong>{{ total }}</strong> deployments have been performed since the beginning of the tracking. Today, there were just <strong>{{ today }}</strong> deployments meanwhile this month an amount of <strong>{{ month }}</strong>. This year was great with <strong>{{ year }}</strong> deployments.
                </p>
            </div>
        </div>

    <!--
        <div class="row">
            <div class="col-md-12">
                <div class="ct-chart ct-golden-section" id="chart1"></div>
            </div>
            <div class="col-md-6">
                <h4>Deployments by hour</h4>
                <div class="ct-chart ct-golden-section" id="chart2"></div>
            </div>
        </div>
    -->
    {% endblock %}
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/components/flat-ui/js/jquery-1.10.2.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="/components/flat-ui/js/bootstrap.min.js"></script>
<script src="/components/chartist/dist/chartist.min.js"></script>

<script>
    new Chartist.Pie('#chart1', {
        labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
        series: [{{ statsByWeekday.1 }}, {{ statsByWeekday.2 }}, {{ statsByWeekday.3 }}, {{ statsByWeekday.4 }}, {{ statsByWeekday.5 }}, {{ statsByWeekday.6 }}, {{ statsByWeekday.0 }}]
    }, {
        donut: true,
        startAngle: 270,
        total: {{ total * 2 }},
        donutWidth: 60
    });

    /*
    new Chartist.Bar('#chart2', {
        labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
        series: [
            {% for weekDay in statsByWeekdayAndHour %}
                [
                    {% for hourDay in weekDay %}
                        {{ hourDay }},
                    {% endfor %}
                ],
            {% endfor %}
        ]
    }, {
        stackBars: true
    });
    */
</script>
</body>
</html>